*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial , sans-serif;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center ;
    height:100vh
}

.login-container{
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2{
    margin-bottom: 20px;
    color: #333;
}

label{
    display: block;
    text-align:left;
    font-weight:bold;
    color:#333;
    margin-bottom:5px;
}



input[type="text"],
input[type="password"] {
    width: 100%; /* Full width of the container */
    padding: 7px; /* Increased padding for better touch target */
    margin-bottom: 15px; /* Spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9; /* Light gray background for inputs */
    transition: border-color 0.3s ease; /* Smooth transition for focus */
}


button {
    width: 100%;
    padding: 7px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049;
}

