* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f4f4f4;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    min-height: 100vh; /* Full height */
}

.main-content h1 {
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
}
.sidebar ul li a.active {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
